$text-color: #9EA5AD;
$grid-color: #E9EAEC;
$curve-color: #5692BF;
$background-color: #F6F7F8;

$shadow-z-depth-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
$shadow-z-depth-4: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);

.financial-chart {
  position: relative;
  display: block;
  margin: 0 auto;

  background-color: $background-color;

  div.financial-chart-tooltip {
    position: absolute;
    cursor: pointer;

    background-color: #fff;

    transform: translate(0, -100%);

    box-shadow: $shadow-z-depth-3;

    color: $text-color;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;

    border-radius: 2px;
    text-align: left;

    .financial-chart-tooltip-date {
      width: 100%;
      line-height: 14px;
      height: 14px;
    }

    .financial-chart-tooltip-value {
      width: 50%;
      color: #000;

      display: inline-block;
    }

    .financial-chart-tooltip-delta {
      width: 50%;
      color: #f00;

      display: inline-block;

      .financial-chart-tooltip-delta-arrow {
        display: inline-block;
        width: 0;
        height: 0;

        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #f00;

        margin-right: 5px;
      }

      &.mod-positive {
        color: #22A053;


        .financial-chart-tooltip-delta-arrow {
          border-bottom: 7px solid #009739;
          border-top: none;
        }
      }

      .financial-chart-tooltip-delta-arrow-down {
        display: inline-block;
        width: 0;
        height: 0;

        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #f00;
      }
    }
  }

  svg {

    g.financial-chart-y-axis {

      rect.financial-chart-y-axis-grid-line {
        fill: #DEE1E4;
      }

      text.financial-chart-y-axis-label {
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 300;
        fill: #858E97;
        text-anchor: end;
      }
    }

    g.financial-chart-x-axis {

      text.financial-chart-x-axis-label {
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 300;
        fill: #858E97;
        text-anchor: middle;
      }
    }

    g.financial-chart-point {
      cursor: pointer;

      rect.financial-chart-point-box {
        fill: transparent;
        fill-opacity: 0;
      }

      circle.financial-chart-point-dot {
        display: none;
        fill: $curve-color;
        fill-opacity: 1;
        stroke: $background-color;
        stroke-width: 2px;
      }

      line.financial-chart-point-axis-line {
        display: none;
        stroke: $curve-color;
        stroke-dasharray: 5, 5;
        stroke-opacity: .5;
      }

      &.is-over {
        circle.financial-chart-point-dot {
          display: inline;
        }

        line.financial-chart-point-axis-line {
          display: inline;
        }
      }
    }

    path.financial-chart-curve {
      stroke: $curve-color;
      stroke-width: 2;
      fill: none;
    }
  }
}